* {
        margin: 0;
        padding: 0px;
        box-sizing: border-box;
        /* background-color: rgb(159, 136, 120); */
    
      }
      
      
      
      body {
         /* background-image: url('https://i0.wp.com/picjumbo.com/wp-content/uploads/green-natural-background-with-wooden-surface-free-image.jpeg?w=2210&quality=70'); */
        /* background-image: url('/bg-image.jpg'); */
        background-color: rgb(72, 113, 118);
      }
      .card-container {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         margin-right: 0 auto 5px 5px;
         gap: 20px;
        }
        
        .content {
             width: 200px;
            border: 2px outset rgb(143, 156, 158);
            border-radius: 8px;
            padding: 10px;
            /* box-shadow: 10px 10px 1px; */
             background-image: url('');
        }
        .content img {
            width: 100%;
            border-radius: 5px;
            
           
        }
         .content h3 {
            font-size: 1.5rem;
            font-weight: bold;
            color: rgb(170, 205, 191);
        }
        
        button {
          border: 1px outset;
          border-radius: 5px;
          padding: 5px;
          font-weight: bold;
          font-size: 1rem;
          background-color: rgb(41, 97, 99);

        }
        h1 {
          font-size: 1rem;
          font-weight: bold;
          color: white;
        }
        p {
          color: rgb(87, 152, 152);
          font-weight: bold;
        }
        .main-header {
          background-color: rgb(121, 176, 176);
          color: white;
          /* padding-top:; */
        }
        .top-bar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 5%;
          max-width: 1400px;
          margin: 0 auto;

        }
        .logo h1 {
          font-size: 2em;
          line-height: 1;
          letter-spacing: 1px;
          font-weight: bold;
        }
        .logo span {
          font-size: 1.2rem;
          font-weight: 700;
        }
        .search-container {
          width: 100%;
          padding: 10px 15px;
          border: none;
          border-radius: 5px 0 0 5px;
          outline: none;

        }
        .search-container button {
          padding: 10px 15px;
          background-color: #eee;
          border: none;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          color: #555;
        }
        .layout {
          background-color: coral;
          border-radius: 5px;
        }
        .user-actions {
          display: flex;
          align-items: center;
          gap: 20px;
        }
        .account-btn {
          border: 1px solid rgb(127, 161, 18);
          padding: 8px 15px;
          border-radius: 8px;
          cursor: pointer;
          background-color: crimson;
        }
        .navbar {
          
          padding: 10px 5%;
          background-color: #555;
          /* background-image:url('https://applescoop.org/image/wallpapers/mac/digital-artwork-dark-minimal-monochrome-best-4k-desktop-wallpapers-backdrops-and-8k-backgrounds-12k-high-resolution-hd-of-2025-for-apple-mac-windows-pc-linux-chromebooks-10-03-2025-1741644287-hd-wallpaper.webp'); */
          background-color: rgb(127, 122, 122);

        }
        .navbar ul {
          list-style: none;
          display: flex;
          justify-content: center;
          gap: 15px;
          flex-wrap: wrap;
        }
        .navbar ul a {
          text-decoration: none;
          color: white;
          font-size: 13px;
          font-weight: bold;
          transition: 0.2s;
        }
        .image-position {
          width: 250px;
          height: 250px;
          /* border: 1px solid red;
          border-radius: 50%; */

        }
        
        .banner {
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
          gap: 200px;
        background-color: rgb(122, 92, 62);
        /* background-image: url('/Background\ 3.png'); */
        border: 1px solid;
        border-radius: 5px;

        }
        .brand-name {
          border: 1px solid;
          background-color: chocolate;
          font-size: 1.3rem;
          font-weight: bold;
          
        }
        .bonna {
          border: 1px outset;
          background-color: crimson;
        }
        .slogon {
                color: white;
                font-weight: bold;
                font-size: 1.2rem;


        }
        .slogon span {
          color: black;
          font-size: 1.5rem;
        }
        /* footer arr css style freedom  */
        .rakibul {
          background-color: rgb(109, 135, 126);
          color: whitesmoke;
          font-size: 1.2rem;
          padding: 40px 20px 0px;
          /* min-width: 1200px;  */
          margin: 0 auto;    
          padding: 0 20px; 
          border-radius: 5PX;  
          margin-top: 10px;  
          
        }
        .container {
          display: flex;
          justify-content: space-between;
          gap: 20px;
        }
        .footer-column {
          flex: 1;
          min-width: 120px;
        }
        .footer-column h3 {
          font-size: 1.25rem;
          margin-bottom: 15px;
          line-height: 1.4;
          color: rgb(66, 10, 10);
          font-weight: bold;
        }
        .footer-content p ,address {
          color: rgb(66, 10, 10);
          margin: 10px;
          
        }
        .footer-column a {
          color: rgb(11, 12, 11);
        }
        .BIG  u {
          font-size: 1.25rem;
          color: rgb(66, 10, 10);
         
        }
        .footer-button  p {
               font-size: 15px;
               color: rgb(9, 6, 7);
               font-weight: 700;
               align-items: center;
        }
        .footer-button span  {
            color: rgb(213, 224, 220);
            font-weight: bold;

        } 
        
